<p> Хотите подстричься ?</p>

<form>
  <div class="form-group">
    <label>Name</label>
    <input type="name" class="form-control" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="phone" class="form-control" id="phone" placeholder="Enter Phone">
  </div>
  <div class="form-group">
    <label>Date of visit</label>
    <input type="data" class="form-control" id="data" placeholder="Enter Data">
  </div>
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>